# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\pycharm\projects\smileDetector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
